{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->

<h1 align="center">Send Mail</h1>
<!-- <ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul> -->
<form action="{{url_for('email.send_email')}}" method="POST">
  <textarea name="sender" id="sender" class="form-control" placeholder="Your email"></textarea>
  <textarea name="recipient" id="recipient" class="form-control" placeholder="recipient email"></textarea>
  <textarea name="message" id="message" class="form-control" placeholder="Message"></textarea>

  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">send mail</button>
  </div>
</form>
{% endblock %}
